.xs {
    font-size: var(--text-xs-font-size);
    line-height: var(--text-xs-line-height);
}

.sm {
    font-size: var(--text-sm-font-size);
    line-height: var(--text-sm-line-height);
}

.base {
    font-size: var(--text-base-font-size);
    line-height: var(--text-base-line-height);
}

.m {
    font-size: var(--text-m-font-size);
    line-height: var(--text-m-line-height);
}

.lg {
    font-size: var(--text-lg-font-size);
    line-height: var(--text-lg-line-height-size);
}

.xl {
    font-size: var(--text-xl-font-size);
    line-height: var(--text-xl-line-height);
}

.xxl {
    font-size: var(--text-xxl-font-size);
    line-height: var(--text-xxl-line-height);
}

.size3xl {
    font-size: var(--text-3xl-font-size);
    line-height: var(--text-3xl-line-height);
}

.size4xl {
    font-size: var(--text-4xl-font-size);
    line-height: var(--text-4xl-line-height);
}
