$white-color: #ffffff;
$beige-color: #fceade;
$light-blue-color: #457b9d;
$dark-blue-color: #1d3557;
$red-accent-color: #ff1b1c;
$yellow-accent-color: #fcba04;

$honeydew-500: #f1faee;
$crystal-500: #a8dadc;

