@import '../styles/_color';
.background {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    align-items: center;
    height: 64px;
    flex-flow: nowrap;
    &__navigation-content {
        color: $dark-blue-color;
        display: flex;
        padding-right: 30px;
        padding-left: 20px;
        gap: 20px;
        align-items: center;
    }
}

